doctype html 
html
    head 
        title Magdum dance Academy 
        block scripts 
        block style 
            
    body 
        nav#navbar
            ul 
                div#logo
                    img(src="/static/main-logo.png", alt="Logo")
                    | MDA
                li #[a(href="/") Home]
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Class Info]
                li #[a(href="/contact") Contact Us]

        block content 
        footer#footersection
            | @copyrights | All rights riserved 2022