extends base.pug 

block scripts 
    script(src="/static/index.js") 

block style 
    style 
        include ../static/style.css

block content 

    section#introsection
            div Welome to <b>Magdum</b> Dance Academy 
            div Eat Dance Sleep Repeat
    section#missionsection
            h3  Our Mission
            div.card
                h2 Dance Perfection
                div.card-box
                    div.card-img
                        img(src="/static/women-logo.png", alt="image")
                    p How you can dance ! this is not important, the important is Do you like Dance. 
                    
            div.card
                h2 Dance you like
                div.card-box
                    div.card-img
                        img(src="/static/couple-logo.png", alt="image")
                    p How you can dance ! this is not important, the important is Do you like Dance. 
                        
            div.card
                h2 Expert Teaching
                div.card-box
                    div.card-img
                        img(src="/static/logo5.png", alt="image")
                    p How you can dance ! this is not important, the important is Do you like Dance. 
                        
    section#sponsersection
            h3  Our Sponsors
            div#sponserslogo
                img(src="/static/google-logo.png", alt="google log" Class="simages")
                img(src="/static/microsoft-logo.png", alt="google log" Class="simages" id="microsoft")
                img(src="/static/infosys-logo.png", alt="google log" Class="simages")
                img(src="/static/ibm-logo.png", alt="google log" Class="simages")
